h5 {
    color:brown
}

h1 {
    color:rgb(166, 0, 255)
}

h2 {
    color:darkslateblue;
    font-size: 80px;
}


body {
    background: linear-gradient(#fbc2eb, #a6c1ee);
}


img {
    border-radius: 15px;
    width: 200px;
}

body::before {
    content: "";
    position: fixed;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: #d6ffff;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

body {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.card-1 {
    background: rgb(21, 255, 0);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin: 20px auto;
    width: 80%;
}

.card-2 {
    background: rgb(1, 247, 252);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin: 20px auto;
    width: 80%;
}

.card-3 {
    background: rgb(174, 65, 236);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    margin: 20px auto;
    width: 80%;
}

ul, ol {
    list-style: none;
    padding: 0;
}

li {
    background: rgba(255, 255, 255, 0.682);
    margin: 10px 0;
    padding: 12px 16px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

li:hover {
    transform: translateX(5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.hover-word {
    position: relative;
    cursor: pointer;
    color: #5e4596;
    font-weight: bold;
}

.hover-info {
    position: absolute;
    left: 150%;
    bottom: 125%;              
    transform: translateX(-50%);
    background: white;
    padding: 6px 10px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-size: 15px;
    width: 200px;
    max-width: 300px;      
    white-space: normal;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.hover-word:hover .hover-info {
    opacity: 1;
}

.hover-info {
    transform: translateX(50%) translateY(5px);
}

.img-box {
    overflow: hidden;        
    border-radius: 15px;     
    display: inline-block;
}

.zoom-img {
    transition: transform 0.5s ease;
    width: 50%;
    display: block;
}



