h5 {
    color:brown
}

h1 {
    color:rgb(166, 0, 255)
}

h2 {
    color:darkslateblue;
    font-size: 80px;
}


body {
    background: linear-gradient(#fbc2eb, #a6c1ee);
}


img {
    border-radius: 15px;
    width: 200px;
}

body::before {
    content: "";
    position: fixed;
    top: -50px;
    right: -50px;
    width: 200px;
    height: 200px;
    background: #d6ffff;
    border-radius: 50%;
    z-index: -1;
    opacity: 0.5;
}

body {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}




